<select ng-model="selectedPlayerId" ng-options="t.id as p.firstName+' '+p.lastName for p in players">
    <option value="">-- Choose Player --</option>
</select>
<input type="button" value="Add Player" ng-click="addPlayer()">
<div ng-hide="players.length == 0">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in userPlayers">
                <td>
                    {{player.firstName +' '+ player.lastName}}
                </td>
                 <td>
                    <input type="button" value="Delete" ng-click="deletePlayer(player)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<input type="button" value="Return" ng-click="close()">
