<select ng-model="selectedPlayerId" ng-options="p.Id as p.FirstName+' '+p.LastName for p in players">
    <option value="">-- Choose Player --</option>
</select>
<input type="button" value="Add Player" ng-click="addPlayer()">
<div ng-hide="players.length == 0">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in userPlayers">
                <td>
                    {{player.FirstName +' '+ player.LastName}}
                </td>
                <td>
                    <input type="button" value="Delete" ng-click="deletePlayer(player)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<input type="button" value="Return" ng-click="close()">
