<input type="button" value="Manage User" ng-click="manageUser()" />
<div ng-hide="userTeams.length == 0">
    <table class ="table">
        <thead>
            <tr>
                <th>Teams:</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in userTeams">
                <td>
                    {{team.name}}
                </td>
            </tr>
        </tbody>
    </tableclass>
</div>
<div ng-hide="userPlayers.length == 0">
    <table class="table">
        <thead>
            <tr>
                <th>Players:</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in userPlayers">
                <td>{{player.firstName + " "+player.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-include="'/app/html/views/userTaskAssignments.html'" />
<select ng-model="teamId" ng-options="t.id as t.name for t in userTeams">
    <option value="">-- Choose Team --</option>
</select>
<input type="button" value="Signup For Tasks" ng-click="signupForTasks()" ng-hide="userPlayers.length == 0 || userTeams.length == 0" ng-disabled="!teamId>0" />
<input type="button" value="Return" ng-click="close()">
