<input type="text" ng-model="newFirstName" placeholder="First" />
<input type="text" ng-model="newLastName" placeholder="Last" />
<input type="button" value="Add Player" ng-click="addPlayer(newFirstName, newLastName)" ng-disabled="newFirstName.length == 0 || newLastName.length ==0" />
<div ng-hide="players.length == 0">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Save</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players">
                <td>
                    <input ng-model="player.firstName" type="text" placeholder="First" />
                </td>
                <td>
                    <input ng-model="player.lastName" type="text" placeholder="Last" />
                </td>
                <td>
                    <input type="button" value="Save" ng-click="endEdit(player)" ng-disabled="firstName.length == 0 || lastName.length ==0" />
                </td>
                <td>
                    <input type="button" value="Delete" ng-click="deletePlayer(player)" />
                </td>
            </tr>
        </tbody>
    </table>

</div>
<input type="button" value="Return" ng-click="close()">