<table ng-hide="games.length==0 || tasks.length==0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Location</th>
            <th ng-repeat="task in tasks">{{task.Name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in games">
            <td>{{game.Time}}</td>
            <td>{{game.Opponent}}</td>
            <td>{{game.Location}}</td>
            <td ng-repeat="task in tasks"><input type="checkbox" ng-click="setTaskAssignment(game.Id, task.Id)" ng-checked="taskIsAssigned(game.Id, task.Id)" ng-disabled="taskIsNotAbleToBeAssigned(game.Id, task.Id)"></td>
        </tr>
    </tbody>
</table>
<input type="button" value="Return" ng-click="close()">