<table ng-hide="games.length==0 || tasks.length==0">
    <thead>
        <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Location</th>
            <th ng-repeat="task in tasks">{{task.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in games">
            <td>{{game.date}}</td>
            <td>{{game.opponent}}</td>
            <td>{{game.location}}</td>
            <td ng-repeat="task in tasks"><input type="checkbox" ng-model="taskAssignments[game.id][task.id]" ng-disabled="findTaskAssignmentRecord(game.id, task.id) !=null && findTaskAssignmentRecord(game.id, task.id).playerId !=currentPlayerId"></td>
        </tr>
    </tbody>
</table>
<input type="button" value="Return" ng-click="close()">