Current Player: <select ng-model="selectedPlayerId" ng-options="p.id as p.firstName+' '+p.lastName for p in userPlayersOnTeam"></select>
<table ng-hide="games.length==0 || tasks.length==0" class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Location</th>
            <th ng-repeat="task in tasks">{{task.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="game in games | orderBy:'time'">
            <td>{{game.time | date:'medium'}}</td>
            <td>{{game.opponent}}</td>
            <td>{{game.location}}</td>
            <td ng-repeat="task in tasks"><input type="button" value="{{getAssignedPerson(game.id, task.id)}}" ng-click="setTaskAssignment(game.id, task.id)" ng-class="{btn: true, 'btn-success': isAssigned(game.id, task.id)}" ng-disabled="!isAbleToBeAssigned(game.id, task.id)"></td>
        </tr>
    </tbody>
</table>
<input type="button" value="Return" ng-click="close()">