<select ng-model="currentPlayerId" ng-options="p.id as p.firstName for p in players"><option value="">-- Choose Player --</option></select>
<input type="button" ng-disabled="currentPlayerId==0" value="Add Player To Team" ng-click="addPlayerToTeam()">
</select>
    <smart-table rows="team.players" columns="teamPlayerColumns"></smart-table>
<select ng-model="currentTaskId" ng-options="t.id as t.name for t in tasks"><option value="">-- Choose Task --</option></select>
<input type="button" ng-disabled="currentTaskId==0" value="Add Task To Team" ng-click="addTaskToTeam()">
</select>

    <smart-table rows="team.tasks" columns="teamTaskColumns"></smart-table>
