<div ng-controller="userDetailController">
    <div ng-hide="userTeams.length == 0" >
        <table>
            <thead>
                <tr>
                    <th>Teams:</th>
                </tr>          
            </thead>
            <tbody>
                <tr ng-repeat="team in userTeams">
                    <td>
                    {{team.name}}
                    <td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="userPlayers.length == 0">
        <table>
            <thead>
                <tr>
                    <th>Players:</th>
                </tr>                
            </thead>
            <tbody>
                <tr ng-repeat="player in userPlayers">
                    <td>{{player.firstName + " "+player.lastName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>