<select ng-model="selectedPlayerId" ng-options="p.id as p.firstName+' '+p.lastName for p in players">
    <option value="">-- Choose Player --</option>
</select>
<input type="button" value="Add Player" ng-click="addPlayer()">
<div ng-hide="userPlayers.length == 0">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in userPlayers">
                <td>
                    {{player.firstName +' '+ player.lastName}}
                </td>
                <td>
                    <input type="button" value="Delete" ng-click="removePlayer(player)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<input type="button" value="Return" ng-click="close()">