Available Teams:<select ng-model="selectedTeamId" ng-options="t.id as t.name for t in teams">
    <option value="">-- Choose Team --</option>
</select>
<input type="button" value="Claim Team" ng-click="addTeam()" ng-disabled="isTeamAlreadyAdded()">
<div ng-hide="userTeams.length == 0">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Claim</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in userTeams">
                <td>
                    {{team.name}}
                </td>
                <td>
                    <input type="button" value="Claim Player(s)" ng-click="selectPlayers(team.id)">
                </td>
                <td>
                    <input type="button" value="Not My Team- Remove" ng-click="removeTeam(team)" />
                </td>
            </tr>
        </tbody>
    </table>

</div>
<input type="button" value="Return To Home" ng-click="close()">